<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Hotel Finder</title>
    <script src="https://kit.fontawesome.com/41c47fdefa.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="../static/Images/Favicon.png">

    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
    />  
</head>

<body>
    <!-- adding Flash to allow for message flashing -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith%}

    <!-- Header with website title -->
    <header>
        <a class="homePage" href="/">Hotel Finder</a>
    </header>

    <!-- NavBar -->
    <nav id="navbar">
        <!-- Added jinja syntax to display only certain links depending on if user is signed in -->
        <a class="nav-item" id="index" href="/">Home</a>
        <a class="nav-item active" id="hotels" href="/hotels">Hotels</a>
        <a class="nav-item" id="rooms" href="/rooms">Rooms</a>
        <a class="nav-item" id="profile" href="/profile">Profile</a>
        <a class="nav-item" id="logout" href="/logout">Logout</a>
        
        <a class="nav-item" id="index" href="/">Home</a>
        <a class="nav-item" id="login" href="/login">Login</a>
        <a class="nav-item" id="signUp" href="/sign-up">Sign Up</a>

    </nav>

    <!-- LogIn/SignUp form -->
    <div class="content">

        <!--
        <div class="formBox">
            <h1 id="signuptitle">Log In</h1>
            <form method="POST" action="">
                <div class="btn-field">
                    <button type="button" id="signinBtn">Log In</button>
                    <button type="button" class="disable" id="signupBtn">Sign up</button>
                </div>
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-regular fa-user"></i>
                        <input id="name" name="name" type="text" placeholder="Name">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input id="email" name="email" type="email" placeholder="Email" required>
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input id="password" name="password" type="password" placeholder="Password" required>
                    </div>

                    <div class="passSubContainer">
                        <p id="passwordClick">Lost Password <a href="#">Click Here!</a></p>
                        <input id="subBtn" type="submit">
                    </div>
                </div>

            </form>
        </div> -->

        <form method="POST">
            <h1 align="center">Login</h1>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div> 


    
    <!-- Added footer with Team Members and last modified -->
    <footer>
        <p>Made by James, Donato, & Foram - Last Modified: </p> <span id="lastMod"></span>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>

    <!--
    <script>

        let signupBtn = document.getElementById("signupBtn");
        let signinBtn = document.getElementById("signinBtn");
        let nameField = document.getElementById("nameField");
        let title = document.getElementById("signuptitle");
        let formBox = document.querySelector(".formBox");
        let subBtn = document.getElementById("subBtn");
        let name = document.getElementById("name");

        //Make sign up button hide name field
        signinBtn.onclick = function () {
            nameField.style.maxHeight = "0";
            formBox.style.padding = "50px 60px 0px";
            title.innerHTML = "Log In";
            signupBtn.classList.add("disable");
            signinBtn.classList.remove("disable");


        }

        //Makes name field not required when loging in
        signinBtn.addEventListener('click', function () {
            name.removeAttribute('required');

        });



        signupBtn.onclick = function () {
            nameField.style.maxHeight = "65px";
            formBox.style.padding = "50px 60px 55px";
            title.innerHTML = "Sign Up";
            signupBtn.classList.remove("disable");
            signinBtn.classList.add("disable");

        }

        signupBtn.addEventListener('click', function () {
            name.setAttribute('required', 'required');
        });

        function toggleReqName(required) {
            name.required = required;
        }

        // Sticky NavBar

        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }

        // Last Modified in Footer

        let text = document.lastModified;
        document.getElementById("lastMod").innerHTML = text;
    </script> -->
</body>

</html>