<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>Hotel Finder</title>
        <script src="https://kit.fontawesome.com/41c47fdefa.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="../static/Images/Favicon.png">
        <title>Hotel Finder</title>
    </head>
    
    <body>
        <main>
        <!-- Allow for message flashing -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <header>
            <a class="homePage" href="/">Hotel Finder</a>
        </header>
    
        <!-- NavBar -->
        <nav id="navbar">
            {% if user.is_authenticated %}
            <a class="nav-item" id="index" href="/">Home</a>
            <a class="nav-item" id="hotels" href="/hotels">Hotels</a>
            <a class="nav-item" id="rooms" href="/rooms">Rooms</a>
            <a class="nav-item" id="profile" href="/profile">Profile</a>
            <a class="nav-item" id="logout" href="/logout">Logout</a>
            {% else %}
            <a class="nav-item" id="index" href="/">Home</a>
            <a class="nav-item" id="login" href="/login">Login</a>
            <a class="nav-item active" id="signUp" href="/sign-up">Sign Up</a>
            {% endif %}
        </nav>

        <div class="container">

            <!-- Sign up display box -->
            <div class="formContent">
            <form method="POST">

                <!-- Fields for sign up information -->
                <h1 class="formTitle">Sign Up</h1>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter Password" />
                </div>
                <div class="form-group">
                    <label for="email">Password (Confirm)</label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" />
                </div>
                <div class="form-group">
                    <label for="email">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" />
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


        <footer>
            <p>Made by James, Donato, & Foram</p>
        </footer>
    
    </main>

        <!-- Scripting for connection with backend -->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>


        <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
    </body>
</html>