* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    color: #274156;
}

header a{
    text-decoration: none;
    color: #274156;
    font-size: 48px;
    font-weight: bolder;
}

footer {
    background-color: #333;
    text-align: center;
    height: 60px;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #333;
    padding: 0 20% 0 20%;
    z-index: 1000;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #1C6E8C;
    color: white;
}

.content {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8));
    background-position: center;
    background-size: cover;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}



.formBox {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px 60px 0px;
    text-align: center;
    border-radius: 10px;
    transition: padding .3s;
}

.formBox h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #1C6E8C;
    position: relative;

}

.formBox h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #1C6E8C;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.3s;
    overflow: hidden;
}

#nameField {
    max-height: 0;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p {
    text-align: left;
    font-size: 13px;
}

form p a {
    text-decoration: none;
    color: #1C6E8C;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    background: #1C6E8C;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    transition: color .3s;
    margin-bottom: 15px;
}

.input-group {
    height: 280px;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}

.passSubContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 5%;
}

#passwordClick {
    white-space: nowrap;
}

input[type="submit"] {
    text-align: center;
    width: 100px;
    padding: 10px;
    background: #1C6E8C;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #1c6e8cb2;
}